# python (backend)
venv/
.venv/
backend/venv/
backend/.venv/
__pycache__/
*.pyc
.env
backend/.env
outputs/
backend/test_songs
backend/docs

# node (frontend)
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env

# os / editor / misc
.DS_Store
*.log
.vscode/
.idea/